$cor-principal-dark: #1f1f1f;
$cor-secundaria: #3b3b3b;
$cor-light: #525252;
$cor-font-principal: #fff;
$cor-borda: #eeeeee96;
$task-concluida: green;
$task-excluida: red;
$cor-bt-add: #e037ae;


@mixin animacao ($background-color, $color) {
    background-color: $background-color;
    transform: scale(1.1);
    transition: all 0.5s;
    color: $color;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: $cor-font-principal;
    background-color: $cor-principal-dark ;
}



.App {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    grid-template-areas: 'Input-data '
        'Tasks-body ';
    grid-template-rows: 8% 1fr;
    height: 100vh;
    background-color: $cor-principal-dark;

    .minha-conta {
        background-color: $cor-secundaria;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin: 10px;
        border-radius: 20px;
        height: 35%;

        nav ul li {
            padding: 20px 30px;
            list-style: none;
            border-radius: 20px;
            display: flex;
            align-items: end;

            &:hover {
                background-color: $cor-light;
            }

            .icon {
                font-size: 1.3rem;
                margin-right: 10px;
            }

        }

    }


    .container-task {
        grid-area: Tasks-body;
        width: 100%;

        .list-tasks {
            border-radius: 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            justify-content: left;
            padding: 20px 30px;


            .task-card {
                width: 200px;
                padding: 20px 30px;
                border-radius: 10px;
                margin: 15px;
                background-color: $cor-secundaria;
                color: $cor-font-principal;
                height: 150px;
                overflow-y: auto;

                &:hover {
                    @include animacao($cor-light, $cor-font-principal)
                }

                &::-webkit-scrollbar {
                    width: 10px; // Largura da barra de rolagem
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #888; // Cor da barra de rolagem
                    border-radius: 5px; // Raio da borda da barra de rolagem
                }

                //*mudar a cor da barra
                /* &::-webkit-scrollbar-thumb:hover {
                    background-color: #555; // Cor da barra de rolagem ao passar o mouse
                }*/

                p {
                    word-wrap: break-word;
                    padding: 15px 0px;
                }

                .tipo-Task {
                    padding: 5px 8px;
                    border-radius: 20px;
                }

                .nome-task {
                    font-size: 1.2rem;
                }
            }

        }
    }
}

.diarias {
    background-color: #e03753;
}

.semanais {
    background-color: #e0c737;
}

.mensais {
    background-color: #8637e0;
}

.anuais {
    background-color: #3794e0;
}

.container-input {
    grid-area: Input-data;

    .entrada-de-dados {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        align-items: center;
        padding: 10px 30px;
        flex-wrap: wrap;

        select {
            appearance: none;
            width: 10%;
            border: none;
            outline: none;
            background-color: $cor-secundaria;
            color: $cor-font-principal;
            border-radius: 20px;
            padding: 15px;
            
        }

        .icon-user {
            font-size: 30px;
            padding: 15px;
        }

        #inTarefa {
            outline: none;
            border: none;
            font-size: 1rem;
            width: 70%;
            color: $cor-font-principal;
            border-radius: 20px;
            background-color: $cor-secundaria;
            padding: 15px;

            &:focus {
                border: 1px solid white;
            }
        }

        #btAdd {
            background-color: $cor-bt-add;
            color: $cor-font-principal;
            border: none;
            padding: 15px;
            border-radius: 20px;
            font-size: 1.2rem;
            width: 6%;
            outline: none;

            &:hover {
                background-color: #223531;
            }
        }

    }
}





.bts-laterais {
    width: 70px;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 1%;

    .container-bt-excluir,
    .container-bt-tarefa-concluida {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
        color: #fff;
        padding: 10px;
        border-radius: 50%;
        margin: 20px auto;
        background-color: $cor-secundaria;
    }

    .container-bt-tarefa-concluida {
        &:hover {
            @include animacao($task-concluida, $cor-font-principal);
        }
    }

    .container-bt-excluir {
        &:hover {
            @include animacao($task-excluida, $cor-font-principal);
        }
    }
}



@media (max-width:600px) {
    .container {
        width: 400px;
    }

}